#content {
    padding-top: 40px;
    padding-left: 200px;
}

.tableDiv {
    float: left;
    width: 400px;
    margin-right: 80px;
}

.entryDiv {
    float: left;
    width: 300px;
    padding-top: 60px;
}

.entryInput {
    width: 100%;
    margin-bottom: 30px;
}

.entryButton {
    float: right;
    margin-left: 15px;
}

.input {
    display: block;
}

.blogEntry {
    cursor: pointer;
}

th {
    min-width: 50px;
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: solid;
}

td {
    vertical-align: top;
    text-align: left;
    min-width: 50px;
    padding: 10px;
    max-width: 100px;
    overflow: hidden;
}

.entriesTable {
    width: 100%;
}

h1 {
    padding-bottom: 40px;
}
